* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

p{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 2em;
}

.header{
    margin: 0;
}

.header-background{
    top:0;
    margin: 0;
    padding:0;
    width: 100%;
    height: 49em;
    background-image: url(./images/head-back.JPG);
    background-size: cover;
    opacity: .80;
    position: fixed;
    border-bottom: .5em solid;
    border-color: rgb(240, 237, 230);
    z-index: 0;
}

.header{
    display: inline-flex;
}

.name{
    margin-left: 1.67em;
    font-family: sans-serif;
    font-size: 7em;
    text-align: left;
    position: fixed;
    z-index: 1;
}

#firstName{
    margin-top: 1.8em;
    background-color: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.315) 0px 4px 6px;
}

#lastName{
    margin-top: .3em;
    background-color: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.315) 0px 4px 6px;
}

.header-picture{
    z-index: 2;
    margin-top: 10em;
    margin-left: 68em;
    position: fixed;
    box-shadow: rgba(128, 128, 128, 0.562) 40px 40px;
}

@media only screen and (max-width: 970px) {
    #firstName{
        margin-right: 0em;
    }

    #lastName{
        margin-right: 0em;
    }
}

.navigation{
    top:0;
    margin:0;
    background-color: rgb(58, 57, 57);
    list-style-type: none;
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

.item a{
    box-sizing: border-box;
    padding: .2em;
    padding-top: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: block;
}

#line{
    padding: .2em;
    font-family: sans-serif;
    font-size: 3em;
    color: white;
    display: block;
}

@media only screen and (max-width: 890px) {
    .item a{
        text-align: center;
        font-size: 1.7em;
    }
}
@media only screen and (max-width: 525px) { /* phone */
    .item a{
        padding-top: 1em;
        text-align: center;
        font-size: 1.2em;
    }
    
    .schools{
        text-align: center;
        font-size: .1em;
    }
    .name{
        margin-left: .35em;
    }
}

.item a:hover{
    color: rgb(52, 196, 141);
    transition-duration: 2ms;
}

#name-top a:hover{
    color: rgb(52, 196, 141);
    transition-duration: 2ms;
}

.social{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    z-index:2;
}

.logos{
    list-style-type: none;
    margin-top: 35em;
    margin-left: 5em;
    position: relative;
    line-height: 4em;
}

.usernames{
    margin-top: 35em;
    margin-left: 1em;
    list-style-type: none;
    position: relative;
    background-color: rgba(233, 150, 122, 0.308);
    color: black;
    width: 23em;
    box-sizing: border-box;
    padding-left: 1em;
    line-height: 4em;
}

.u-item{
    display: block;
}

.u-item a{
    text-decoration: none;
    color: black;
}

.u-item a:hover{
    color: rgba(0, 0, 0, 0.288);
    transition-duration: 2ms;
}

.s-item a:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.descriptions{
    margin-top: 2em;
    position: absolute;
    z-index: 2;
    /* margin-top: 49em; */
    /* margin-left: 1em;
    margin-right: 1em; */
    
    padding: 0; 
    background-color: rgba(231, 237, 255, 0.945);
    border-color:  rgba(35, 133, 96, 0);
    border-style: solid;
    border-width: 2px;
}

.descriptions h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top: 2em; */
    padding: 0;
    display: flexbox;
    text-align: center;
    font-size: 5em;
}

.descriptions p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2em;
    margin-left:2em;
    margin-right:2em;
    text-align: justify;
    text-indent: 4em;
}

.schools{
    font-size: 4em;
    margin-top: 2em;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
}

.schools a{
    text-decoration: none;
    color: black;
}

#C{
    text-shadow: rgba(62, 89, 163, 0.945) 0px 4px 6px;
}

#DV{
    text-shadow: rgba(112, 58, 58, 0.767) 0px 4px 6px;
}

#MV{
    text-shadow: rgba(138, 14, 14, 0.938) 0px 4px 6px;
}

.schools a:hover{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    font-size: 1.1em;
    transition: all 1s ease;
}
.under{
    text-decoration: underline;
}
.education-list{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0.5em;
    margin-left:2em;
    margin-right:2em;
    /* text-align: center; */
    text-indent: 4em;
    font-size: 2em;
}


.gpa{
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    display: flex;
    text-align: center;
    font-size: 2em;
    justify-content: space-evenly;
}

#B{
    text-align: center;
    list-style-type: none;
    font-size: 4em;
    margin-top: 2em;
    text-shadow: rgba(180, 154, 5, 0.959) 0px 4px 6px;
}

#B a{
    text-decoration: none;
    color: black;
}

#B a:hover{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    font-size: 1.1em;
    transition: all 1s ease;
}

#S{
    text-align: center;
    list-style-type: none;
    font-size: 4em;
    margin-top: 2em;
    text-shadow: rgba(180, 154, 5, 0.959) 0px 4px 6px;
    margin-bottom: 2em;
}

#S a{
    text-decoration: none;
    color: black;
}

#S a:hover{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    font-size: 1.1em;
    transition: all 1s ease;
}

#education, #experience, #extra{
    margin-top: 2em;
}


